@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

/* Default styles - Portrait mode*/
* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    background-color: #ffd22f;
    font-family: "Roboto", sans-serif;
    -webkit-user-select: none;
    user-select: none;
}


body {
    position: relative;
}


.global-container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-image: url(../images/sign-background.png), linear-gradient(180deg, #ffd22f, #ffd22f);
    background-size: 20%;
    background-repeat: repeat;
    background-blend-mode: overlay;
    transition: filter 1s ease-out;
    will-change: filter;
}


.global-container.blur {
    -webkit-filter: blur(3vw) grayscale(10%);
    filter: blur(3vw) grayscale(10%);
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    padding: 5vw 5vw 0;
}


.main-content .instructions-container,
.main-content .turn-container,
.main-content .score-container {
    flex: 0 0 auto;
}


.main-content .game-container {
    flex: 1 0 0;
}


.instructions-container {
    position: relative;
    margin: 7vw 0 4vw;
    padding: 10vw 4vw 0;
    background-color: #323232;
    text-align: center;
    font-size: 4vw;
    font-weight: bolder;
    color: #ffffff;
    border: 1vw dashed #323232;
    border-style: none solid solid none;
    box-shadow:  1vw 1vw 0 #000000;
    text-shadow: .4vw .4vw .4vw #000000;
}


.instructions-container .title {
    position: absolute;
    top: -9vw;
    right: 0;
    display: inline-flex;
    align-items: baseline;
    margin: 0;
    font-size: 6vw;
    font-family: "Tiny5", sans-serif;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: .9vw .9vw 1.5vw #000000;
    background: linear-gradient(90deg,#ff0000, #ffffff);
    background-size: 900% 900%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: blink 4.5s ease infinite;
    -z-animation: blink 4.5s ease infinite;
    -o-animation: blink 4.5s ease infinite;
    animation: blink 4.5s ease infinite;
    
}


.instructions-container .title .icon {
    width: 15vw;
}


.instructions-container .title .icon:hover {
    scale: 1.15;
}


.instructions-container .subtitle {
    margin: 0 3vw 0;
}


.instructions-container .subtitle span {
    font-size: 6vw;
    font-family: "Tiny5", sans-serif;
    font-weight: bolder;
    text-shadow: .9vw .9vw 1.5vw #000000;
    color: #ffd22f;
}


.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.game-container .top {
    margin: 4vw 0;
}


.turn-container {
    display: flex;
    align-items: flex-end;
    overflow-x: hidden;
}


.turn-notification-human,
.turn-notification-computer {
    position: relative;
    flex: 1 0 0;
    background-color: #323232;
    font-size: 3.5vw;
    font-weight: bolder;
    color: #ffffff;
}


.turn-notification-human {
    text-align: end;
    transform: translate(0%, 0%);
    transition: transform 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}


.turn-notification-human.hide {
    transform: translate(-110%, 0%);
    will-change: translate;
}


.turn-notification-computer {
    text-align: start;
    transform: translate(0%, 0%);
    transition: transform 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}


.turn-notification-computer.hide {
    transform: translate(110%, 0%);
    will-change: translate;
}


.turn-container .title {
    margin: 2vw 4vw;
}


.game-container .bottom {
    display: flex;
    align-items: stretch;
    padding: 0 3vw;
    margin: 4vw 0 6vw;
    font-family: "Tiny5", sans-serif;
}


.choice-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.choice-container .user-selection-blink {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 0;

    -webkit-animation: user-selection-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    -z-animation: user-selection-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    -o-animation: user-selection-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    animation: user-selection-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
}


.choice-container .title-human,
.choice-container .title-computer {
    padding: 5vw 0; 
    background-color: #ffffff;
    font-size: 5vw;
    font-weight: bolder;
    writing-mode: vertical-lr;
    text-orientation: upright;
}


.choice-container .title-human {
    margin-right: 2vw;
}


.choice-container .title-computer {
    margin-left: 2vw;
}


.choice-container .human,
.choice-container .vs,
.choice-container .computer {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 3vw;
}


.choice-container .vs {
    position: relative;
    text-align: center;
}


.choice-container .vs .tie {
    position: absolute;
    width: 50%;
    transform: translate(50%, -100%);
    transition: opacity 2s ease-in;
}


.choice-container .vs .tie.hide {
    opacity: 0;
}


.choice-container .vs .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    margin: 0;
    border-radius: 100%;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 13vw;
    color: #ffd22f;
}


.choice-container .vs .round-container{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: #ffffff;
    font-size: 3.5vw;
}


.choice-container .human,
.choice-container .computer {
    position: relative;
}


.choice-container .human button,
.choice-container .computer button {
    position: relative;
    padding: 0;
    background: none;
    border: none;
    border-radius: 100%;
    opacity: 1;
    transform: translate(0%, 0%);
    transition: transform 1s ease-out,
    opacity 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    will-change: translate;
}


.choice-container .human button.not-clickable,
.choice-container .computer button.not-clickable {
    pointer-events: none;
}


.choice-container .human .rock.selection,
.choice-container .computer .rock.selection{
    transform: translate(0%, calc(100% + 3vw));
}


.choice-container .human .rock.hide,
.choice-container .computer .rock.hide {
    opacity: 0;
}


.choice-container .human .paper.hide,
.choice-container .computer .paper.hide {
    opacity: 0;
}


.choice-container .human .scissors.selection,
.choice-container .computer .scissors.selection{
    transform: translate(0%, calc(-100% - 3vw));
}


.choice-container .human .scissors.hide,
.choice-container .computer .scissors.hide{
    opacity: 0;
}


.choice-container .human .icon,
.choice-container .computer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    border-radius: 100%;
    background-color: #343434;
    box-shadow: 1.5vw 1vw 0.5vw #000000;
    transition: transform .25s cubic-bezier(0.1, -0.6, 0.2, 0);
    will-change: transform;
}


.choice-container .human .icon {
    box-shadow: -1.5vw 1vw 0.5vw #000000;
}


.choice-container .human .icon:hover,
.choice-container .computer .icon:hover {
    background: linear-gradient(320deg, red 20.5%, rgb(255, 255, 68) 110.9%);
    transform: scale(1.05);
    background-size: 200% 200%;
    animation: gradient 1s ease infinite;
}


.choice-container .human .icon:hover {
    background: linear-gradient(40deg, red 20.5%, rgb(255, 255, 68) 110.9%);
    transform: scale(1.05);
    background-size: 200% 200%;
    animation: gradient 1s ease infinite;
}


.choice-container .rps,
.choice-container .question {
    width: 100%;
}


.choice-container .crown {
    position: absolute;
    width: 50%;
    transform: translate(50%, 150%);
    transition: opacity 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}


.choice-container .crown.hide {
    opacity: 0;
}


.choice-container .computer button img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.score-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 5vw 0 0;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-top: 3.5vw solid #323232;
    background-color: #f1f1f1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f1f1f1 2vw ), repeating-linear-gradient( #ffffff55, #ffffff );
    text-align: center;
}


.score-container .title-container {
    position: absolute;
    top: -7vw;
    margin: 0 auto;
    border-radius: 100%;
    background-color: #323232;
}


.score-container .title {
    margin: 0;
    padding: 2.5vw 5vw;
    font-family: "Tiny5", sans-serif;
    font-size: 5vw;
    font-weight: bolder;
    text-shadow: .62vw .75vw 2.5vw #000000;
    background: linear-gradient(90deg,#ffd22f, #ffffff);
    background-size: 600% 600%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: gradient 2s ease infinite;
    -z-animation: gradient 2s ease infinite;
    -o-animation: gradient 2s ease infinite;
    animation: gradient 2s ease infinite; 
}


.score-container .human,
.score-container .status,
.score-container .computer{
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    border-radius: 30%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #323232;
    font-weight: bold;
    color: #ffffff;
}


.score-container .status {
    margin: 6vw 0 12vw;
}


.score-container .status .round-result {
    background-color: #ffffff;
    color: #323232;
}


.score-container p {
    margin: 0;
    font-size: 3vw;
    padding: 1.5vw 0;
}


.score-container .human .display,
.score-container .computer .display {
    border: .5vw solid #323232;
    border-radius: 30%;
    background-color: #ffd22f;
    font-family: "Tiny5", sans-serif;
    font-size: 6vw;
    color: #000000;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2vw;
    padding: 4vw;
    background-color: #323232;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
}


footer .link {
    font-size: 4vw;
    color: #ffffff;
    text-decoration: none;
}


footer .link:hover {
    background: linear-gradient(124deg,#ff4d00, #e3e81d);
    background-size: 1800% 1800%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: blink 4.5s ease infinite;
    -z-animation: blink 4.5s ease infinite;
    -o-animation: blink 4.5s ease infinite;
    animation: blink 4.5s ease infinite;
}


.new-game-modal-container {
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f1f1f1 2vw ), repeating-linear-gradient( #ffffffc4, #ffffff );
    border-radius: 5vw;
    box-shadow: 1vw 1vw 3vw #000000;
    transform: translate(-50%, 50%);
    transition: opacity 1s ease;
}


.new-game-modal-container.hide {
    opacity: 0;
}


.new-game-modal-container.not-clickable {
    pointer-events: none;
}


.new-game-modal-container .final-result {
    margin: 0;
    padding: 3vw;
    text-align: center;
    font-size: 10vw;
    text-shadow: .9vw .9vw 1.5vw #000000;
    color: #ffffff;
}


.new-game-modal-container .final-result.winner {
    background-color: #ffd22f;
}


.new-game-modal-container .final-result.loser {
    background-color: #fe4638;
}


.new-game-modal-container .final-score {
    display: flex;
    margin: 0;
    background-color: #323232;
}


.new-game-modal-container .final-score .human,
.new-game-modal-container .final-score .computer {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    padding: 3vw;
    gap: 5vw;
    align-items: center;
    font-family: "Tiny5", sans-serif;
    font-size: 4vw;
    color: #ffd22f;
}


.new-game-modal-container .final-score span {
    font-weight: bolder;
    font-size: 8vw;
    color: #ffffff;
}


.new-game-modal-container .new-game-button {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 8vw 1vw;
    padding: 4vw 8vw;
    width: fit-content;
    border-radius: 5vw;
    font-size: 5cqw;
    font-family: "Tiny5", sans-serif;
    color: #ffffff;
    background-color: #323232;
    will-change: translate;
    -webkit-animation: reset-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    -z-animation: reset-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    -o-animation: reset-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    animation: reset-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    transition: opacity 1s ease;
}


.new-game-modal-container .new-game-button span {
    font-size: 9vw;
}


.play-container {
    position: fixed;
    width: 70vw;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    will-change: translate;
}


.play-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 15.5vw 0;
    background: none;
    border: none;
    border-radius: 5vw;
    background-color: #323232;
    font-family: "Tiny5", sans-serif;
    font-size: 15vw;
    color: #ffffff;
    -webkit-animation: play-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    -z-animation: play-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    -o-animation: play-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    animation: play-blink-animation 2.5s ease-in-out 0.5s infinite alternate backwards;
    transition: opacity 1s ease;
}


.play-button.hide {
    opacity: 0;
}


.play-button.not-clickable {
    pointer-events: none;
}


.play-button span {
    font-size: 15vw;
}


img {
    -webkit-user-drag: none;
}


button {
    cursor: pointer;
}


/* Activar en resoluciones de desktop */
/* img {
    -webkit-user-drag: none;
    pointer-events: none;
} */
 

/* Media queries */
@media screen and (orientation: landscape) {
    :root {
        color: red;
    }

    
}


/* Animations */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes blink {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes blink {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes blink {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes blink {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}


@keyframes play-blink-animation {
    0% {
        background-color: #323232;
        color: #ffffff;
        scale: 1.0;
    }
    
    100% {
        background-color: #ffffff;
        color: #323232;
        scale: 1.10;
    }
}


@keyframes reset-blink-animation {
    0% {
        scale: 1.0;
    }
    
    100% {
        scale: 1.10;
    }
}


@keyframes user-selection-blink-animation {
    0% {
        opacity: 1.0;
    }
    
    100% {
        opacity: 1.8;
    }
}

